.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.projectImage {
  width: 100%;
  aspect-ratio: 16 / 9;
  background: var(--background-light);
  cursor: pointer;
  position: relative;
  border-radius: 0.8rem;
  overflow: hidden;

  img {
    width: 90%;
    height: 100%;
    transform-origin: left bottom;
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 20%;

    transition: 0.25s all cubic-bezier(0.175, 0.985, 0.42, 1.75);

    border-radius: 0.4rem;
  }

  .projectCrown {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    background: rgba(255, 217, 0, 0.2);
    backdrop-filter: blur(3px);
    color: #FFD700;
    border: 1px solid rgba(255, 217, 0, 0.2);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    display: grid;
    place-items: center;
    z-index: 1;

    svg {
      font-size: 2.5rem;
    }
  }
}

.projectCopy {
  margin: 1.6rem 0;
}

.projectTitle {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  h4 {
    font-weight: bold;
    font-size: var(--text-md);
    flex-shrink: 0;

    max-width: calc(100% - 150px);
  }

  a {
    opacity: 0.75;
    transition: 0.25s opacity;
  }

  a:hover {
    opacity: 1;
  }
}

.projectTitleLine {
  width: 100%;
  height: 1px;
  background: var(--text);
  opacity: 0.3;
}

.projectDescription {
  font-weight: 200;

  span {
    display: inline-block;

    font-size: var(--text-xs);
    font-weight: 400;
    color: var(--brand);

    cursor: pointer;
  }

  span:hover {
    text-decoration: underline;
  }
}

.projectTech {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;

  font-size: var(--text-xs);
  color: var(--brand);

  margin: 0.8rem 0;
}
