.heading {
  height: calc(45px + 3.6rem);
  padding: 0 3.6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  position: sticky;
  top: 0;
  z-index: 20;
  background: var(--bg-opaque);

  font-size: var(--text-md);
  font-weight: bold;

  @media (max-width: 768px) {
    padding: 0 2.4rem;
  }
}

.filter_ios {
  backdrop-filter: blur(4px);
  filter: url(#lensFilter) saturate(140%);
  position: absolute;
  inset: 0;
  z-index: 19;
  scale: 1.05;
  margin-top: -5px;
}
